/* цвет фона */ 
$color-background-day: #f4f4f4
$color-background-night: #333333
$color-background: #d7d4d4

/* цвет текста шапки */ 
$color-header-text-day: #151515
$color-header-text-night: #fff

/* цвет текста заголовка */
$color-title-text-day: #151515
$color-title-text-night: #fff

/* цвет текста параграфа */ 
$color-pararaph-text-day: #222222
$color-pararaph-text-night: #e6e6e6

/* меню бургер */ 
$color-border-day: #151515
$color-border-night: #f4f4f4

/* кнопка переключения фона */ 
$btn-switch-background-day: #fff
$btn-switch-background-night: #545454
$btn-background-day: #ebebeb
$btn-background-night: #434343
$btn-text-day: #fff
$btn-circle: #24b47e

/* цвет ссылок  */ 
$color-link-day: #222222
$color-linkselected-day: #151515

/* цвет фона */
$color-page-bgc-night: #333333
$color-footer-bgc-night: #2f2f2f
$color-footer-bgc-day: #efefef
$color-footer-copyright: #cfcfcf

/* цвет фона точек */
$color-dot-active-day: #151515
$color-dot-noactive-day: #cacaca

/* цвет декоративной линии*/
$color-decorative-line-day: #e3e3e3

/* бордер элемента select */ 
$color-border-day: #e3e3e3
